<%-include("header.ejs")-%>
        <div  id="inventory" class="container " style="background-color: azure;" >
                <section class="jumbotron text-center">
                        <div class=" jumbo-head container">
                            <h1 class="jumbotron-heading">Registered Successfully!</h1>
                           
                        </div>
                    </section>
                   
                <dl class="dl-horizontal">
                    <table class="table table-striped" >
                        <tbody>
                            <tr>
                              <th>Ration Card Number</th>
                              <td><%= card_no %></td>
                        </tr>
                        <tr >
                            <th>Distributor</th>
                            <td ><p ><%=dist_no%></p>  </td>
                      </tr>
                        <tr>
                                <th>Consumer name</th>
                                <td><%=name%></td>
                          </tr>
                          <tr id="address">
                                <th>Consumer Address</th>
                                <td ><p ><%=address%></p>  </td>
                          </tr>
                          
                          
                          
                          
                          

                    </tbody>
                </table>
                <a href="/admin" class="btn login_btn" style="width: 150px;">Take Me Home </a>
               

            </div>

            <%-include("footer.ejs")-%>