<%-include("header.ejs")-%>
        <div  id="inventory" class="container " style="background-color: azure;" >
                <section class="jumbotron text-center">
                        <div class=" jumbo-head container">
                            <h1 class="jumbotron-heading">Consumer details</h1>
                           
                        </div>
                    </section>
                    <form action="/admin/consumer/details" method="POST">
                <dl class="dl-horizontal">
                    <table class="table table-striped" >
                        <tbody>
                            <tr>
                              <th>Ration Card Number</th>
                              <td name="card_no"><%=card_no%></td>
                        </tr>
                        <tr>
                                <th>Consumer name</th>
                                <td><%=name%></td>
                          </tr>
                          <tr id="address">
                                <th>Consumer Address</th>
                                <td ><p ><%=address%> </p>  </td>
                          </tr>
                          <tr>
                                <th>Scheduled date</th>
                                <td><%=date%></td>
                          </tr>
                          <tr>
                                <th>Scheduled time</th>
                                <td><%=time%></td>
                          </tr>
                          <tr>
                                <th>Status</th>
                                <td><%=status%></td>
                          </tr>
                          
                          
                          

                    </tbody>
                </table>
                <div class="form-group">
                        <input type="submit" value="Distribute" class="btn consumer float-right login_btn">
                    </div>
                </form>

            </div>
 <%-include("footer.ejs")-%>
    